# .gitignore for C programming

# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.out
*.app
*.exe

# Temporary files
*.swp
*~

# Visual Studio Code
.vscode/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Text Files
*.txt